// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1,h2,h3,h4,h5,h6,p{
    font-family: 'Roboto', sans-serif;
}

body{
	background: #abbac4;
          overflow-x:hidden;
          padding:0px !important;
}

.app-container {
  display: flex;
  flex-direction: column;
}

a{
  color: blue;
}

.user-info {
  background-color: white;
  width: 250px;
  padding: 10px;
}

.container-item {
    margin: 20px;
}

li, a {
  cursor: pointer;
}

.org-info{
  height: 250px;
  overflow: scroll;
  padding:20px;
  background-color: white;
  width: 150px; 
}
